# This file is used to configure the Perseus Client for the example.
# Copy this file to .env and fill in the values.

# Your Perseus API key
PERSEUS_API_KEY=YOUR_API_KEY_HERE

# The host of the Perseus API
PERSEUS_API_HOST=https://api.lettria.com
