PERSEUS_API_KEY=""
GOOGLE_API_KEY=""

# FalkorDB connection settings
FALKORDB_HOST="localhost"
FALKORDB_PORT=6379
FALKORDB_USERNAME=""
FALKORDB_PASSWORD="bdroklaf"
FALKORDB_GRAPH_NAME="perseus_graph"

# Embedder service URL
EMBEDDER_URL="http://localhost:8080"
